#work-section img {
    height: 365px;
}

#photo {
    max-height: 200px;
    max-width: 150px;
}

body {
    background-color: rgb(202, 202, 200);
}

.content {
    display: flex;
    align-items: center;
    width: 80%;
    flex-direction: column;
    margin: 0 auto;
}

.content h1 {
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid grey;
    color: rgb(80, 3, 3);
}